<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <h3>{{ site.locationBlockTitle }}</h3>

                <p>
                    <a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">Veja aqui a agenda do evento</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->