<section id="trilhas" class="trilhas">
  <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
          <h3>{{ site.aboutTitle }}</h3>
          <div class="row about-details">
              <p class="lead">
                Esse ano o evento terá o stream ao vivo das trilhas, todas 100% online. As trilhas serão dividas em quatro categorias:
              </p>

              <ul class="trilhas-list list-unstyled">
                <li>
                  Arquitetura Corporativa
                  <p>Trilha focado em uma visão mais estratégica e de como a tecnologia impacta o negócio das empresas.</p>
                </li>
                <li>
                  Arquitetura de Aplicações
                  <p>Conteúdo sobre arquitetura de software e seus desafios, cases de arquiteturas e soluções.</p>
                </li>
                <li>
                  Arquitetura de Dados
                  <p>Trilha com foco em arquiteturas e ferramentas para manipulação de dados, big data, machine learning e outras tendências da area</p>
                </li>
                <li>
                  Arquitetura de Infraestrutura
                  <p>Conteúdo com foco na área de Infraestrutura de tecnologia, operação de sistemas, DevOps, Arquitetura de Cloud, containers, etc.</p>
                </li>
              </ul>

              <p>
                Em breve iremos postar mais informações sobre cada trilha e a agenda do evento.
                Enquanto isso, voce pode submeter uma palestra sobre algum dos temas acima <a href="{{ site.c4pUrl }}">aqui</a>
              </p>
          </div>
      </div>
  </div>
</section>