<section id="trilhas" class="trilhas">
  <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
          <h3>{{ site.aboutTitle }}</h3>
          <div class="row about-details">
              <p class="lead">
                Esse ano o evento terá o stream ao vivo das trilhas, todas 100% online. As trilhas serão dividas em quatro categorias:
              </p>

              <ul class="trilhas-list list-unstyled">
                <li>Arquitetura Corporativa</li>
                <li>Arquitetura de Aplicações</li>
                <li>Arquitetura de Dados</li>
                <li>Arquitetura de Infraestrutura</li>
              </ul>

              <p>
                Em breve iremos postar mais informações sobre cada trilha e a agenda do evento.
                Enquanto isso, voce pode submeter uma palestra sobre algum dos temas acima <a href="{{ site.c4pUrl }}">aqui</a>
              </p>
          </div>
      </div>
  </div>
</section>