<section id="trilhas" class="trilhas">
  <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
          <h3>{{ site.aboutTitle }}</h3>
          <div class="row about-details">
              <p class="lead">
                DNAD 2020. O maior evento de arquitetura de sofware do Brasil está de volta este ano!
              </p>

              <p>Devido à pandemia, o DNAD 2020 será 100% online. Serão quatro trilhas simultâneas transmitidas via streaming ao vivo no dia do evento:</p>

              <ul class="trilhas-list list-unstyled">
              {% for trilha in site.data.trilhas %} {% if trilha != null %}
                <li>
                  {{ trilha.nome }}
                  <p>{{ trilha.descricao }}</p>

                  <p class="coordenadores">Coordenadores da trilha:</p>
                  {% for coordenador in trilha.coordenadores %}
                  <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered ">
                      <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ coordenador.id }}">
                          <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: coordenador.thumbnailUrl }})">
                              <div class="overlay solid-overlay"></div>
                              <figcaption>
                                  <div class="col-md-8 col-xs-8 text-left">
                                      <h2 class="name">{{ coordenador.name }} <span>{{ coordenador.surname }}</span></h2>
                                      <p>{{ coordenador.miniBio }}</p>
                                      <div class="clearfix"></div>
                                      <span class="position">{{ teamMember.title }}</span>
                                  </div>
                                  {% for social in coordenador.social %}
                                  <a href="{{ social["link"] }}" target="_blank">
                                      <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                          <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                      </svg>
                                  </a>
                                  {% endfor %}
                              </figcaption>
                          </figure>
                      </div>
                  </div>
                  {% endfor %}
                </li>
              {% endif %} {% endfor %}
              </ul>
          </div>
      </div>
  </div>
</section>